<style>
  .display-4 {
    margin-left: 25%;
  }
</style>

{% extends "users/base.html" %} {% block content %} {% load crispy_forms_tags %}
<h1 class="display-4">Register here</h1>
{% if messages %} {% for message in messages %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %} {% endif %}
<form method="POST">
  {% csrf_token %} {{ register_form|crispy}}

  <button type="submit" class="btn btn-success">Register</button>
</form>
{% endblock %}
