<style>
  .center {
    position: absolute;
    margin-top: 40%;
    margin-left: 20%;
  }
  .display-4 {
    position: absolute;
    margin-left: 27%;
    margin-top: 27%;
  }
</style>
{% extends "users/base.html" %} {% block content %}
<form method="POST">
  {% csrf_token %}

  <h1 class="display-4">Upload file</h1>
<<<<<<< HEAD
  {% if messages %} {% for message in messages %}
  <div class="alert alert-success">{{ message }}</div>
  {% endfor %} {% endif %}
=======
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success">{{ message }}</div>
  {% endfor %}
  {% endif %}
>>>>>>> 9df44f8c17e2e11d51061678e55b47475495b5ec
  <div class="center">
    {{ upload_form.user_file }}
    <button type="submit" class="btn btn-primary">Upload</button>
  </div>

  <!-- <input type="submit" value="register" /> -->
</form>
{% endblock %}

<!--
<div class="form-group">
  <button type="submit" class="btn btn-primary">Upload</button>
</div> -->
